<footer>
    <div>
        <picture class="footer-logo">
            <source type="image/svg+xml" srcset="images/logo.svg" width="80" height="80">
            <img src="images/logo.png" alt="logotipo de la página" width="80" height="80">
        </picture>
    </div>
    <nav class="header-navigation flex-column flex-centered footer-navigation">
        <ul class="header-menu">
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="presentacion.html">Presentación</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="recetas.html">Recetas</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper header-menu-link-wrapper-last">
                    <a class="header-menu-link white font-lobster font-big" href="enlaces.html">Enlaces</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="blue font-big font-lobster">&copy; 2021 Damián Serrano Thode</div>
</footer>