<header class="blue-bg flex-column flex-centered">
    <div class="main-title">
        <a href="index.html" class="header-link">
            <picture class="header-logo-image">
                <source type="image/svg+xml" media="(min-width:481px)" srcset="images/logo-con-texto-h.svg" width="1366" height="194">
                <source type="image/svg+xml" media="(max-width:480px)" srcset="images/logo-con-texto-v.svg" width="508" height="222">
                <source type="image/png" media="(min-width:481px)" srcset="images/logo-con-texto-h.png" width="1366" height="194">
                <source type="image/png" media="(max-width:480px)" srcset="images/logo-con-texto-v.png" width="508" height="222">
                <img src="images/logo-con-texto-h.png" alt="logo de la página" width="1366" height="194">
            </picture>
        </a>
    </div>
    <nav class="header-navigation flex-column flex-centered">
        <ul class="header-menu">
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="presentacion.html">Presentación</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="recetas.html">Recetas</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper header-menu-link-wrapper-last">
                    <a class="header-menu-link white font-lobster font-big" href="enlaces.html">Enlaces</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
