<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
<link rel="icon" type="image/svg+xml" href="images/logo.svg">
<link rel="icon" type="image/png" href="images/icon.png">
<link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="script/main.js"></script>
